Repository caponetto/personal-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

ci(dependabot): configure conventional commit messages for update PRs
  .github/dependabot.yml
  .github/workflows/lighthouse.yml
Due: prettier --write

ci(dependabot): configure conventional commit messages for update PRs (#137)
  .github/dependabot.yml
  .github/workflows/lighthouse.yml
Due: prettier --write

ci(dependabot): updates prior commitlint
  .github/actions/setup-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  package-lock.json
  package.json
Due: prettier --write

ci(dependabot): updates prior commitlint (#138)
  .github/actions/setup-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  package-lock.json
  package.json
Due: prettier --write

fix(ui): polish cross-platform interactions and content consistency
  README.md
  package-lock.json
  src/components/appbar/AppBar.tsx
  src/components/card/HoverableCard.tsx
  src/components/card/MediaCard.tsx
  src/components/email/EmailContact.tsx
  src/components/email/index.ts
  src/components/settings/SettingsDrawer.tsx
  src/components/snackbar/StorageSnackbar.tsx
  src/components/snackbar/__tests__/StorageSnackbar.test.tsx
  src/context/__tests__/AppContext.test.tsx
  src/hooks/__tests__/useSchema.test.tsx
  src/pages/About/AboutPage.tsx
  src/pages/About/AboutSummaryCard.tsx
  src/pages/About/__tests__/__snapshots__/AboutPage.test.tsx.snap
  src/pages/Journey/ExperienceTimeline.tsx
  src/pages/Journey/__tests__/__snapshots__/JourneyPage.test.tsx.snap
  src/schema/appSchemas.ts
  src/schema/mappers/__tests__/profile.test.ts
  src/schema/mappers/profile.ts
  static/locales/en/common.json
  static/locales/en/literal.json
  static/locales/es/common.json
  static/locales/es/literal.json
  static/locales/pt/common.json
  static/locales/pt/literal.json
Due: eslint --max-warnings=0, prettier --write

fix(ui): polish cross-platform interactions and content consistency (#142)
  README.md
  package-lock.json
  src/components/appbar/AppBar.tsx
  src/components/card/HoverableCard.tsx
  src/components/card/MediaCard.tsx
  src/components/email/EmailContact.tsx
  src/components/email/index.ts
  src/components/settings/SettingsDrawer.tsx
  src/components/snackbar/StorageSnackbar.tsx
  src/components/snackbar/__tests__/StorageSnackbar.test.tsx
  src/context/__tests__/AppContext.test.tsx
  src/hooks/__tests__/useSchema.test.tsx
  src/pages/About/AboutPage.tsx
  src/pages/About/AboutSummaryCard.tsx
  src/pages/About/__tests__/__snapshots__/AboutPage.test.tsx.snap
  src/pages/Journey/ExperienceTimeline.tsx
  src/pages/Journey/__tests__/__snapshots__/JourneyPage.test.tsx.snap
  src/schema/appSchemas.ts
  src/schema/mappers/__tests__/profile.test.ts
  src/schema/mappers/profile.ts
  static/locales/en/common.json
  static/locales/en/literal.json
  static/locales/es/common.json
  static/locales/es/literal.json
  static/locales/pt/common.json
  static/locales/pt/literal.json
Due: eslint --max-warnings=0, prettier --write

perf: reduce initial render work and improve LCP responsiveness
  .lighthouserc.json
  cypress/e2e/mobileDrawerNavigation.cy.ts
  package.json
  src/components/appbar/AppBar.tsx
  src/components/badge/FaceBadge.tsx
  src/components/drawer/AppDrawer.tsx
  src/components/drawer/DrawerContent.tsx
  src/components/drawer/__tests__/AppDrawer.test.tsx
  src/components/page/MediaCatalogPage.tsx
  src/components/page/MediaSection.tsx
  src/components/page/Page.tsx
  src/components/settings/SettingsDrawer.tsx
  src/hooks/__tests__/usePageActive.test.ts
  src/hooks/usePageActive.tsx
  src/i18n/index.ts
  src/pages/About/__tests__/AboutPage.test.tsx
  src/pages/Code/__tests__/CodePage.test.tsx
  src/pages/Journey/__tests__/JourneyPage.test.tsx
  src/pages/RouteSwitch.tsx
  src/pages/Talk/__tests__/TalkPage.test.tsx
  src/pages/Text/__tests__/TextPage.test.tsx
Due: eslint --max-warnings=0, prettier --write

perf: reduce initial render work and improve LCP responsiveness (#143)
  .lighthouserc.json
  cypress/e2e/mobileDrawerNavigation.cy.ts
  package.json
  src/components/appbar/AppBar.tsx
  src/components/badge/FaceBadge.tsx
  src/components/drawer/AppDrawer.tsx
  src/components/drawer/DrawerContent.tsx
  src/components/drawer/__tests__/AppDrawer.test.tsx
  src/components/page/MediaCatalogPage.tsx
  src/components/page/MediaSection.tsx
  src/components/page/Page.tsx
  src/components/settings/SettingsDrawer.tsx
  src/hooks/__tests__/usePageActive.test.ts
  src/hooks/usePageActive.tsx
  src/i18n/index.ts
  src/pages/About/__tests__/AboutPage.test.tsx
  src/pages/Code/__tests__/CodePage.test.tsx
  src/pages/Journey/__tests__/JourneyPage.test.tsx
  src/pages/RouteSwitch.tsx
  src/pages/Talk/__tests__/TalkPage.test.tsx
  src/pages/Text/__tests__/TextPage.test.tsx
Due: eslint --max-warnings=0, prettier --write

fix(ui): follow up UI enhancements
  .editorconfig
  src/components/appbar/AppBar.tsx
  src/components/card/MediaCard.tsx
  src/components/chip/ChipGrid.tsx
  src/components/drawer/DrawerListItem.tsx
  src/components/email/EmailContact.tsx
  src/pages/About/__tests__/__snapshots__/AboutPage.test.tsx.snap
  src/pages/Journey/__tests__/__snapshots__/JourneyPage.test.tsx.snap
  src/utils/__tests__/emailFormatting.test.ts
  src/utils/emailFormatting.ts
Due: eslint --max-warnings=0, prettier --write

fix(ui): follow up UI enhancements (#144)
  .editorconfig
  src/components/appbar/AppBar.tsx
  src/components/card/MediaCard.tsx
  src/components/chip/ChipGrid.tsx
  src/components/drawer/DrawerListItem.tsx
  src/components/email/EmailContact.tsx
  src/pages/About/__tests__/__snapshots__/AboutPage.test.tsx.snap
  src/pages/Journey/__tests__/__snapshots__/JourneyPage.test.tsx.snap
  src/utils/__tests__/emailFormatting.test.ts
  src/utils/emailFormatting.ts
Due: eslint --max-warnings=0, prettier --write

Add push trigger for visual regression workflow
  .github/workflows/visual-regression.yml
Due: prettier --write

fix: enhance ScrollTop component functionality and tests
  src/components/scrolltop/ScrollTop.tsx
  src/components/scrolltop/__tests__/ScrollTop.behavior.test.tsx
  src/components/scrolltop/__tests__/ScrollTop.test.tsx
Due: eslint --max-warnings=0, prettier --write

fix: enhance ScrollTop component functionality and tests (#146)
  src/components/scrolltop/ScrollTop.tsx
  src/components/scrolltop/__tests__/ScrollTop.behavior.test.tsx
  src/components/scrolltop/__tests__/ScrollTop.test.tsx
Due: eslint --max-warnings=0, prettier --write

feat: add ScrollRestoration component for automatic scroll to top on route change
  src/App.tsx
  src/__tests__/App.test.tsx
  src/components/scrolltop/ScrollRestoration.tsx
  src/components/scrolltop/__tests__/ScrollRestoration.test.tsx
  src/components/scrolltop/index.ts
Due: eslint --max-warnings=0, prettier --write

feat: add ScrollRestoration component for automatic scroll to top on route change (#147)
  src/App.tsx
  src/__tests__/App.test.tsx
  src/components/scrolltop/ScrollRestoration.tsx
  src/components/scrolltop/__tests__/ScrollRestoration.test.tsx
  src/components/scrolltop/index.ts
Due: eslint --max-warnings=0, prettier --write

fix: update commitlint workflow to exclude dependabot commits from linting
  .github/workflows/commitlint.yml
Due: prettier --write

fix: update commitlint workflow to exclude dependabot commits from linting (#155)
  .github/workflows/commitlint.yml
Due: prettier --write

chore(deps): update MUI packages and html-minimizer-webpack-plugin to latest versions
  package-lock.json
  package.json
  src/pages/Journey/__tests__/__snapshots__/JourneyPage.test.tsx.snap
Due: prettier --write

chore(deps): update MUI packages and html-minimizer-webpack-plugin to latest versions (#178)
  package-lock.json
  package.json
  src/pages/Journey/__tests__/__snapshots__/JourneyPage.test.tsx.snap
Due: prettier --write

chore: reduce dependabot PR noise
  .github/dependabot.yml
Due: prettier --write

chore: reduce dependabot PR noise (#209)
  .github/dependabot.yml
Due: prettier --write

ci: enable auto-merge for Dependabot PRs (patch/minor only)
  .github/workflows/dependabot-auto-merge.yml
  package-lock.json
Due: prettier --write

ci: enable auto-merge for Dependabot PRs (patch/minor only) (#230)
  .github/workflows/dependabot-auto-merge.yml
  package-lock.json
Due: prettier --write

chore: update auto-merge command to use squash for Dependabot PRs
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

chore: update auto-merge command to use squash for Dependabot PRs (#233)
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

ci: improve dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

ci: improve dependabot auto-merge workflow (#234)
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

feat: add Strava social link
  src/components/social/SocialBar.tsx
  src/components/social/StravaIcon.tsx
  src/components/social/__tests__/SocialBar.test.tsx
  src/components/social/index.ts
  src/context/__tests__/AppContext.test.tsx
  src/hooks/__tests__/useSchema.test.tsx
  src/pages/About/__tests__/__snapshots__/AboutPage.test.tsx.snap
  src/schema/appSchemas.ts
  src/schema/mappers/__tests__/profile.test.ts
  src/schema/mappers/profile.ts
  static/locales/en/literal.json
  static/locales/es/literal.json
  static/locales/pt/literal.json
Due: eslint --max-warnings=0, prettier --write

feat: add Strava social link (#278)
  src/components/social/SocialBar.tsx
  src/components/social/StravaIcon.tsx
  src/components/social/__tests__/SocialBar.test.tsx
  src/components/social/index.ts
  src/context/__tests__/AppContext.test.tsx
  src/hooks/__tests__/useSchema.test.tsx
  src/pages/About/__tests__/__snapshots__/AboutPage.test.tsx.snap
  src/schema/appSchemas.ts
  src/schema/mappers/__tests__/profile.test.ts
  src/schema/mappers/profile.ts
  static/locales/en/literal.json
  static/locales/es/literal.json
  static/locales/pt/literal.json
Due: eslint --max-warnings=0, prettier --write

fix(deps): repair security audit
  .github/workflows/security-audit.yml
  cypress/tsconfig.json
  jest.config.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/scrolltop/ScrollRestoration.tsx
  src/components/scrolltop/__tests__/ScrollRestoration.test.tsx
  src/hooks/__tests__/useKeywordSelection.test.ts
  src/hooks/__tests__/useQueryParam.test.tsx
  src/i18n/localeObjectUtils.d.cts
  src/pages/RouteSwitch.tsx
  src/pages/__tests__/RouteSwitch.test.tsx
  tsconfig.json
Due: eslint --max-warnings=0, prettier --write

fix(deps): repair security audit (#325)
  .github/workflows/security-audit.yml
  cypress/tsconfig.json
  jest.config.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/scrolltop/ScrollRestoration.tsx
  src/components/scrolltop/__tests__/ScrollRestoration.test.tsx
  src/hooks/__tests__/useKeywordSelection.test.ts
  src/hooks/__tests__/useQueryParam.test.tsx
  src/i18n/localeObjectUtils.d.cts
  src/pages/RouteSwitch.tsx
  src/pages/__tests__/RouteSwitch.test.tsx
  tsconfig.json
Due: eslint --max-warnings=0, prettier --write

chore(deps-dev): align @size-limit/file with size-limit 13
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): migrate Babel toolchain to v8
  babel.config.js
  cypress.config.ts
  cypress/support/e2e.ts
  jest.config.ts
  package-lock.json
  package.json
  src/components/drawer/__tests__/DrawerContent.test.tsx
  src/components/page/__tests__/MediaSection.test.tsx
Due: eslint --max-warnings=0, prettier --write

chore(deps-dev): keep typescript compatible with eslint tooling
  package-lock.json
  package.json
Due: prettier --write

chore(deps): align MUI stack to v9 and fix breaking API changes
  package-lock.json
  package.json
  src/components/button/SocialButton.tsx
  src/components/drawer/DrawerContent.tsx
  src/components/drawer/DrawerListItem.tsx
  src/components/email/EmailContact.tsx
  src/components/page/MediaSection.tsx
  src/components/settings/SettingsSection.tsx
  src/pages/About/AboutNarrativeCard.tsx
  src/pages/About/AboutPage.tsx
  src/pages/About/__tests__/__snapshots__/AboutPage.test.tsx.snap
  src/pages/Journey/JourneyPage.tsx
  src/pages/Journey/__tests__/__snapshots__/JourneyPage.test.tsx.snap
Due: eslint --max-warnings=0, prettier --write

fix: update avatar
  static/images/avatar.webp
Due: none

fix: update avatar (#373)
  static/images/avatar.webp
Due: none

Path conditions:
  eslint --max-warnings=0: any of: **/*.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,mjs,cjs}) or (any of: **/*.{json,md,yml,yaml})
